.App {
  text-align: center;
}

h1 {
  font-weight: 500;
}

.game_button {
  outline: none;
  background-color: #5573ee;
  color: white;
  border-radius: 10px;
  border: 0px;
  height: 50px;
  max-width: 400px;
  width: 50%;
  font-size: 26px;
  box-shadow: 2px 2px 0px rgba(85, 115, 238, 0.5);
}

.game_button:active {
  box-shadow: 0px 0px 0px rgba(85, 115, 238, 1);
  transform: translateX(2px);
  transform: translateY(2px);
}

.landing_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.submit_btn {
  height: 32px;
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  background-color: #5573ee;
  color: white;
  border-radius: 5px;
  border: none;
}

input {
  height: 25px;
  border-radius: 5px;
  outline: none;
  background-color: white;
  border: solid 1.5px #5573ee;
}

.display_letter {
  font-size: 100px;
  color: white;
}

.game_container {
  display: flex;
  border: solid black;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.letter_container {
  border-radius: 25%;
  width: 75%;
  max-width: 300px;
  height: 45%;
  max-height: 300px;
  background-color: #5573ee;
  opacity: 50%;
}

.no_display_letter {
  font-size: 100px;
  color: #5573ee;
  opacity: 50%;
}

.true {
  background-color: lightgreen;
  color: white;
}

.false {
  background-color: red;
  color: white;
  opacity: 50%;
}
